option_settings:
  aws:autoscaling:launchconfiguration:
    IamInstanceProfile: aws-elasticbeanstalk-ec2-role
  aws:ec2:instances:
    InstanceTypes: t3.micro
  aws:elasticbeanstalk:application:
    Application Healthcheck URL: /
  aws:elasticbeanstalk:environment:
    EnvironmentType: LoadBalanced
    LoadBalancerType: application
  aws:elasticbeanstalk:environment:process:default:
    HealthCheckInterval: 15
    HealthCheckPath: /
    HealthCheckTimeout: 5
    HealthyThresholdCount: 3
    UnhealthyThresholdCount: 5
  aws:elasticbeanstalk:logging:
    SystemLog/CloudWatchLogsLogStreamName: /aws/elasticbeanstalk/form-app
    PublishCloudWatchLogsConfiguration: true
  aws:elasticbeanstalk:xray:
    XRayEnabled: false
